<!DOCTYPE html>
<html lang="en">

<!--including the partials in the file - templating head-->
<%- include("../partials/head.ejs")%>

    <body>
        <!--including the partials in the file - templating nav-->
        <%- include("../partials/nav.ejs")%>
            <h1>Here will go a title</h1>
            <p>Here goes description of the app and how it works</p>

            <section class="inputSection">
                <!--send the data as a request using action destination and method-->
                <form action="/" method="POST">
                    <label for="place">Insert place:</label>
                    <input type="search" name="place" id="userInput_loc" required autofocus></input>
                </form>
            </section>

            <section class="apiDataReceived">
                <h2>API Data</h2>
                <ul>
                    <% for (let key in data) { %>
                        <% if (key==='data' ) { %>
                            <li>
                                <%= key %>:
                            </li>
                            <ul>
                                <% data[key].forEach(item=> { %>
                                    <li>
                                        <%= JSON.stringify(item) %>
                                    </li>
                                    <% }) %>
                            </ul>
                            <% } else { %>
                                <li>
                                    <%= key %>: <%= data[key] %>
                                </li>
                                <% } %>
                                    <% } %>
                </ul>
            </section>


            <!--including the partials in the file - templating footer-->
            <%- include("../partials/footer.ejs")%>
    </body>

</html>