<!DOCTYPE html>
<html lang="en">

<!--including the partials in the file - templating head-->
<%- include("../partials/head.ejs")%>

    <body>
        <!--including the partials in the file - templating nav-->
        <%- include("../partials/nav.ejs")%>
            <h1>Here will go a title</h1>
            <p>Here goes description of the app and how it works</p>

            <section class="inputSection">
                <!--send the data as a request using action destination and method-->
                <form action="/" method="POST">
                    <label for="place">Location:</label>
                    <input type="search" name="place" id="userInput_loc" required autofocus></input>
                </form>
            </section>

            <section>
                <% if (typeof data !=='undefined' && data.length> 0) { %>
                    <h2>Data:</h2>
                    <ul>
                        <% Object.entries(data[0].Risk).forEach(function([pollen, risk]) { %>
                            <li>
                                <strong>Pollen:</strong>
                                <%= pollen %>
                                    <br>
                                    <strong>Risk:</strong>
                                    <%= risk %>
                            </li>
                            <% }) %>
                    </ul>
                    <% } %>
            </section>
            <!--including the partials in the file - templating footer-->
            <%- include("../partials/footer.ejs")%>
    </body>

</html>